/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  width: 100%;
  color: rgb(0, 0, 0);
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 8%;
  justify-content: space-between;
}

nav img {
  width: 40px;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#search {
  margin-right: 20px;
}

#bag {
}

.product-page {
  text-align: center;
  margin-bottom: 2%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.product-info {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.shopping-cart {
  position: fixed;
  top: 81px;
  right: 50px;
}

.shopping-cart ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.shopping-cart ul li {
  list-style: none;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin: 20px;
  line-height: 1.5;
}
